
<!-- <mat-spinner *ngIf="CoinMarketCapService.initialised && !CoinMarketCapService.loading" class="loader"></mat-spinner> -->

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-form-field>
        <mat-select [(value)]="selected" (change)="onChange($event.value)">
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="RUB">RUB</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header> rank. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header> symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"><a routerLink="/coins/{{element.id}}">{{element.symbol}}</a></mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price_usd">
      <mat-header-cell *matHeaderCellDef mat-sort-header> price_usd </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price_usd}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="percent_change_24h">
      <mat-header-cell *matHeaderCellDef mat-sort-header> percent_change_24h </mat-header-cell>
      <mat-cell *matCellDef="let element" [style.color]="element.percent_change_24h"> {{element.percent_change_24h}} </mat-cell>
      <!-- .charAt(0) === '-' ? 'red' : '#00e700'  -->
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
