<div class="container">
    <mat-card>Simple card</mat-card>
  <div class="guides-wrap">
    <mat-card class="guide-item">
        <a routerLink="/guides/buying">
            <img src="../../assets/guide1.jpg" alt="">
        </a>
        <div class="guide-info">
            <p class="type-guide">Buying</p>
            <h3 class="guide-item_title">Buying Bitcoin, Litecoin and Ethereum</h3>
            <a routerLink="/guides/buying" class="read-more">Read More --></a>
        </div>
    </mat-card>
    <mat-card class="guide-item">
        <a routerLink="/guides/wallets">
            <img src="../../assets/guide2.jpg" alt="">
        </a>
        <div class="guide-info">
            <p class="type-guide">Wallets</p>
            <h3 class="guide-item_title">Crypto Wallets: What Are They?</h3>
            <a routerLink="/guides/wallets" class="read-more">Read More --></a>
        </div>
    </mat-card>
    <mat-card class="guide-item">
        <a routerLink="/guides/exchanges">
            <img src="../../assets/guide3.jpg" alt="">
        </a>
        <div class="guide-info">
            <p class="type-guide">Exchanges</p>
            <h3 class="guide-item_title">Crypto Exchanges: Buying Coins</h3>
            <a routerLink="/guides/exchanges" class="read-more">Read More --></a>
        </div>
    </mat-card>
    <mat-card class="guide-item">
        <a routerLink="/guides/binance">
            <img src="../../assets/guide4.jpg" alt="">
        </a>
        <div class="guide-info">
            <p class="type-guide">Exchanges</p>
            <h3 class="guide-item_title">Crypto Exchanges: Binance Guide</h3>
            <a routerLink="/guides/binance" class="read-more">Read More --></a>
        </div>
    </mat-card>
    <mat-card class="guide-item">
        <a routerLink="/guides/2fa">
            <img src="../../assets/guide5.jpg" alt="">
        </a>
        <div class="guide-info">
            <p class="type-guide">Misc</p>
            <h3 class="guide-item_title">Two-Factor Authentication Guide</h3>
            <a routerLink="/guides/2fa" class="read-more">Read More --></a>
        </div>
    </mat-card>
    <mat-card class="guide-item">
        <a routerLink="/guides/terms">
            <img src="../../assets/guide6.jpg" alt="">
        </a>
        <div class="guide-info">
            <p class="type-guide">Misc</p>
            <h3 class="guide-item_title">Common Crypto Terms Guide</h3>
            <a routerLink="/guides/terms" class="read-more">Read More --></a>
        </div>
    </mat-card>
    <mat-card class="guide-item">
        <a routerLink="/guides/should-you-mine">
            <img src="../../assets/guide7.jpg" alt="">
        </a>
        <div class="guide-info">
            <p class="type-guide">Mining</p>
            <h3 class="guide-item_title">Contracts: Should you mine crypto?</h3>
            <a routerLink="/guides/should-you-mine" class="read-more">Read More --></a>
        </div>
    </mat-card>
    
</div>
</div>