.active a{
    color: white;
    background: green;
}
header{
    width: 200px;
    height: 100%;
    background: #46a1fc;
    position: fixed;
    z-index: 10;
}
.logo {
    display: block;
    width: 80px;
    height: 80px;
    margin: 25px auto 25px;
    transition: transform .3s;
}
.logo:hover{
    transform: rotate(-180deg);
}
.list-item{
    height: 50px;
    font-size: 22px;
}
.list-item-link{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}