<header>
  <a class="logo" [routerLink]="['portfolio']">
      <img src="../../assets/logoMix.png" alt="" width="108px" height="108px" style="max-width: 100%;
      height: auto;">
  </a>
  <ul>
    <li [routerLinkActive]="['active']" class="list-item">
      <a [routerLink]="['portfolio']" class="list-item-link">Portfolio</a>
    </li>
    <li [routerLinkActive]="['active']" class="list-item">
      <a [routerLink]="['wallet']" class="list-item-link">Wallet</a>
    </li>
    <li [routerLinkActive]="['active']" class="list-item">
      <a [routerLink]="['coins']" class="list-item-link">Coins</a>
    </li>
    <li [routerLinkActive]="['active']" class="list-item">
      <a [routerLink]="['exchange']" class="list-item-link">Exchange</a>
    </li>
    <li [routerLinkActive]="['active']" class="list-item">
      <a [routerLink]="['settings']" class="list-item-link">Settings</a>
    </li>
  </ul>
</header>