<p>
  2fa works!
</p>
<div class="container">
  <p>
      Mining: Should You Pay?
      Chasing Coins Guide on buying crypto mining contracts and their returns, and why you may just be better off buying crypto right now instead of a contract!
      Mining Currencies
      Mining contracts with companies like Genesis Mining are becoming more and more popular. Essentially you buy a contract up front for them to mine cryptocurrencies for you over a period. Genesis offers 2-year mining contracts starting at around $1000. But is it worth it?
      
      What is a mining contract?
      The basic premise sounds very simple. You pay $1000 for a 2 year contract that at the current price of the coin will return around $2000 - this is a typical example of the real returns on a contract. Add to that that your coin may increase significantly in value and you are looking at potentially much higher returns as your $1000 is up front but your crypto could be worth far more in 2 years.
      
      So what's the catch then? The catch is that spending that $1000 on crypto today instead may well return you more money because of the increase in the price of coins. It'll let you trade all your returns immediately, as opposed to getting your cryptocurrency spread out over two years.
      
      Let's work it out
      For this example we will use two coins, XMR (Monero) and ETH (Ethereum). These are both contracts that Genesis was offering recently, and Genesis have an excellent reputation and pretty fair rates. So what are the costs and what is the hash rate on the entry level options:
      
      XMR 2 year contract: 1000H/s for $900
      ETH 2 year contract: 40MH/s for $1480
      
      These has rates will mine you a somewhat predictable amount of coins in a two year period. For the XMR subscription at 1000H/s you will get approximately 4.92XMR and the ETH subscription at 40MH/s will get you 2.74ETH. At the time of writing (2018/01/26) that works out to be:
      
      XMR 2 year contract return: 4.92XMR, $1500, profit: $600
      ETH 2 year contract return: 2.74ETH, $2900, profit: $1420
      
      Remember, this assumes the price of XMR and ETH does not change! It could of course drop, but we all know it will mostly likely go up, possibly even a LOT! If we make a cautious assumption that it doubles though, the calculation looks like so:
      
      XMR 2 year 200% growth profit: $2100
      ETH 2 year 200% growth profit: $4320
      
      Mining Crypto
      Looking good so far? Maybe not!
      Maybe! But let's keep digging. Let's assume we bought our Monero contract in October 2017, and paid $900 for it. Let's also take it that we already have the 4.92XMR it has been predicted to return over the 2 year period. If we had actually just bought $900 of Monero on October 1st 2017 it would be worth $2,939.47 today. If we do the same calculation with ETH and spent $1480 on Ethereum October 1st, it would be worth $5,088.14 today.
      
      Now having bought the contract instead we got 4.92XMR which is worth $1,505.82 today and 2.74ETH which is worth $2,864.15!
      
      If we had bought coins directly we would have $8,027.61, and from mining we instead have $4,369.97. That's half as much!
      
      We should have bought coins!
      That means we made a bad investment buying a mining contract over coins. The math here doesn't always work out the same way depending on the market, and the cost of a contract of course. However, you should also remember that we are talking about ETH and XMR, coins which didn't go up nearly as much as some of the altcoins on the market in this period which you could have bought if you had liquid coins, instead of a contract.
      
      In summary
      We have shown that buying cryptocurrency instead of a contract is far more profitable both in the short and long term.
      If purchased October 1st 2017 a 2 year ETH and 2 year XMR contract would give you $4,369.97 when spending the same money on the two coins would give you $8,027.61.
      
      There are also many other benefits to having the currency to trade as opposed to being locked in to a coin.
      
      Did we miss something, or have you get other evidence? Let us know!
  </p>
</div>