<p>
  exchanges works!
</p>

<div class="container">
  <p>
      Crypto Exchanges: Buying Coins
      Chasing Coins Guide on what a cryptocurrency exchange is, and how you can buy coins using them.
      Crypto Exchanges Guide
      Generally, you cannot buy cryptocurrency coins from the source. You are always trading with someone else!
      
      This means that buying coins works like the stock market, it's all driven by exchanges. There are many exchanges and they all have different sets of coins, meaning that if you want a specific coin (e.g. VeChain) you may have to register on a specific exchange for it.
      
      This means you will often have 3-5 exchanges that you have registered on and use to trade with.
      
      Best Cryptocurrency Exchanges
      You will find many exchanges as you learn about the market but you need to be sure they are safe as they will have full control over your coins. We provide a list below which is a balanced selection of exchanges with many different coins that are all well respected, have existed for years, and trade large volumes of cryptocurrency.
      
      Binance is arguably the biggest and best exchange in the world. They over hundreds of coins as well as BTC, ETH and BNB trading pairs. Everyone should be registered on Binance!
      
      Cryptopia is a smaller but reliable exchange which has a nice selection of lower market cap coins available and is constantly adding new coins.
      
      HitBTC is a large exchange with high liquidity that's favoured by traders. Can be used to find unique trading pairs.
      
      Yobit is another large exchange that's commonly used in Asian markets, with great liquidity. It competes with Binance but has a less clean interface.
      
      If you register on the above exchanges you will be set up to purchase majority of the popular coins.
      
      Exchange Trading and Withdrawl Fees
      You need to understand two types of fees when dealing with exchanges: trading fees and withdrawl fees.
      
      
      Trading fees: these are fees charged whenever you trade a coin for another coin. For example if you sell BTC to buy someone elses ETH the exchange will charge a small percentage of the value of that trade, typically less than 1%. Generally, this is not a large concern.
      
      Withdrawl fees: these are fees charges to you when you withdraw your coins from the exchange, transferring them to another exchange or your own wallet. These can be very expensive on certain exchanges and with certain coins and you must check what they are, sometimes they can be as high as $50!
      
      Crypocurrency Exchanges
      Sending Money to an Exchange
      In order to be able to trade an an exchange you will need to send BTC or ETH to the exchange. You can then trade your Bitcoin for other coins (often called altcoins). To do this you must generate a wallet address for that coin (BTC or ETH) and then use that to send your Bitcoin or Ethereum to the exchange.
      
      We have a guide for Binance which will explain this process.
      
      Next steps?
      You've bought BTC/ETH and you understand what a wallet is and how they are used to send, receive and store coins. Now you can browse our guides.
  </p>
</div>