<p>
  exchange works!
</p>
<!-- <div *ngIf="cryptos">
  <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
    <span class="left">{{ crypto[0].id }}</span>
    <span class="right">{{ cryptos[crypto].USD | currency:'USD':true }}</span>
  </div>
</div> -->

<!-- {{cryptos[1].id}} -->

<p *ngIf="CoinMarketCapService.initialised && CoinMarketCapService.loading">Loading...</p>

<table id="crypto-container" *ngFor="let crypto of cryptos">
  <tr>
    <td class="left">{{ crypto.rank }}</td>
    <td class="left">{{ crypto.id }}</td>
    <td class="left">{{ crypto.symbol }}</td>
  </tr>
</table>