<p>
  buying works!
</p>
<div class="container">
  <p>
      Buying Bitcoin, Litecoin and Ethereum
      Chasing Coins Guide on how to get started in cryptocurrencies with BTC and ETH.
      Buying Bitcoin
      The first step in investing in and trading cryptocurrencies is buying a trading pair currency. In order to buy the majority of the coins on the market, you need to sell BTC (Bitcoin) or ETH (Ethereum).
      
      Let's say you want to buy VeChain (VEN). Binance allows the trading of VEN for BTC or ETH, and that is a trading pair - you can sell someone Bitcoin in order to buy their VeChain. Almost all trading pairs are based on BTC or ETH.
      
      “ In short: you need to buy Bitcoin or Ethereum! ”
      How to buy BTC and ETH
      Getting this critical trading pair currencies typically means exchanging FIAT (real/traditional money) for them, for example buying Bitcoin for US dollars. Exchanges don't sell coins for USD which means you need to buy BTC and Ethereum first to be able to trade and invest.
      
      
      There are many services which will sell you BTC or ETH for USD or EUR, but many have bad reputations or have regulations preventing them from operating in a specific territory. They also typically require a bank, SEPA or wire transfer and not a credit card payment due to security reasons.
      
      The price of BTC today is $8732.77 and the price of ETH today is $589.097. You will be charged slightly more, but make sure you are not ripped off!
      
      Do you need to buy a whole coin?
      No! The first thing you'll learn is that in cryptocurrency a single coin doesn't matter as a unit. You can own 1.283 ETH and 0.034 BTC without any issues.
      
      Coinbase and Luno
      The best places to buy BTC/ETH
      The best place to buy BTC or ETH comes down to your location. We recommend either using Coinbase or Luno, both trusted and widely recognized services. You can register an account with both for free, and then transfer money to them in order to buy both Bitcoin and Ethereum.
      
      Register on Coinbase if you are in Australia, Canada, Singapore, the United States, or the United Kingdom (several European countries are also supported.
      
      Register on Luno if you are in Europe, South Africa, Nigeria, Indonesia, Malaysia, Singapore.
      
      On both Coinbase and Luno you want to "Buy BTC/Bitcoin" which will then ask you to transfer them money.
      
      Next steps?
      Once you buy cryptocurrencies they will be stored in a crypto wallet. This is almost exactly like a bank account and is an important piece of understanding that you will need to trade.
  </p>
</div>