
<div [ngClass]="themeClass" class="wrap">
  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav >
        <mat-nav-list>
          <mat-list-item routerLink="/home" routerLinkActive="active" (click)="snav.close()">
              <mat-icon mat-list-icon>home</mat-icon>
              <h4>Home</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/wallet" routerLinkActive="active" (click)="snav.close()">
              <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
              <h4>Wallet</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/coins" routerLinkActive="active" (click)="snav.close()">
              <mat-icon mat-list-icon>Coins</mat-icon>
              <h4>Coins</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/settings" routerLinkActive="active" (click)="snav.close()">
            <mat-icon mat-list-icon>label</mat-icon>
            <h4>Calculator</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/exchange" routerLinkActive="active" (click)="snav.close()">
            <mat-icon mat-list-icon>compare_arrows</mat-icon>
            <h4>Exchange</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/guides" routerLinkActive="active" (click)="snav.close()">
            <mat-icon mat-list-icon>help</mat-icon>
            <h4>Guide</h4>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <div class="left-side">
              <button mat-icon-button (click)="snav.toggle()" matTooltip="Toggle sidebar">
                  <mat-icon>menu</mat-icon>
                </button>
                <h1 class="example-app-name" matTooltip="lol">CryptoCalculator</h1>
          </div>
          
          <div class="right-side">
            <!--Change theme-->
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>format_color_fill</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="changeTheme('pink-dark-theme')">Dark Pink</button>
              <button mat-menu-item (click)="changeTheme('default-theme')">Default</button>
              <button mat-menu-item (click)="changeTheme('alternate-theme')">Alternate theme</button>
            </mat-menu>

            <!-- <button mat-button (click)="openDialog()"><mat-icon>help outline</mat-icon></button> -->
            
            <p *ngIf="!auth.currentUserId" class="loggin" (click)="auth.googleLogin()">
              Sign in
            </p>
            
            

            
            <div *ngIf="auth.user | async as user" [matMenuTriggerFor]="menu">
                <mat-menu #menu="matMenu">
                    <div class="">
                      <img src="{{ user.photoURL }}" alt="img" class="menu-user-img">
                      <p class="menu-user-name">{{ user.displayName }}</p>
                    </div>
                    <a mat-menu-item routerLink="/wallet" mat-menu-item>My wallets</a>
                    <button mat-menu-item (click)="auth.signOut()">Sign out</button>
                  </mat-menu>
              <div class="user">
                <div class="user-photo">
                  <img src="{{ user.photoURL }}" alt="img"> 
                </div>
                
              </div>
            </div>
          </div>
          

        </mat-toolbar>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>