<p>
  terms works!
</p>

<div class="container">
  <p>
      Crypto Terms: Explained!
      Chasing Coins Guide on what market caps, volume, ATH, and more mean!
      Cryptocurrency Terms
      It's a top 20 cap, plenty volume, just broke resistance and it's at an ATH - huh?
      
      There are many terms used in cryptocurrency that are trading terms, and some that are unique to crypto. We'll try to get you started with the top ones you need to know!
      
      Market Cap Meaning
      A market cap means the "market capitalization" for a coin. For example, let's say 1 Bitcoin is worth $10,000 and there are 15,000,000 Bitcoins in existence. That would mean the market cap of bitcoin was 10000 * 15000000 = 150,000,000,000, or 150 billion dollars.
      
      In this way you can tell the true value of a coin because having 1 bitcoin is worth more than having 2 ethereum. Generally speaking we rank coins in terms of their market cap and not the price of the coin. As an example XRP (Ripple) is worth about a dollar, while Litecoin is worth $175, yet there are far more XRP in circulation meaning the market cap is much larger. All the XRP together are worth more than all the LTC.
      
      Volume Meaning
      When people speak about volume in cryptocurrency they mean the 24 hour trade volume for a specific coin. How much of that coin was bought and sold during the last 24 hours.
      
      This is useful because it indicates a lot of different things. Firstly in smaller, low market cap coins, it indicates liquidity. This means that people are willing to sell the coin and people are willing to buy it. It's no good having a huge amount of a coin no one is buying!
      
      The second thing is how widely used the currency really is. A lot of cryptocurrencies today are all hype and no use. A high trade volume means people are actually using the currency on a daily basis.
      
      Crypocurrency Terms
      ATH Meaning
      All Time High. What is the highest price a single coin of this cryptocurrency has ever been worth. This is used in estimating the potential growth of a coin often, and coins that have solid tech and are well below their ATH can be an excellent investment opportunity. When coins break their ATH it means they are now worth a new record amount.
      
      Pricing Coins Explained
      All cryptocurrencies (coins and tokens) have a price. This price is the cost for a single coin, but in many ways it is meaningless as certain currencies have many more coins available than others. This is explained in the Market Cap description above in more detail.
      
      You should also remember that you don't need to own an entire coin (in most cases). You can buy 0.32392 Bitcoin, for example.
      
      Resistance Levels Explained
      Explaining resistance levels can be complicated but essentially when trading coins have a high and low resistance, and breaking through these can indicate a lot of things. For example if you see Bitcoin hovering around $10,000 but never quite going over, it's resistance level would be slightly under $10,000. When it does break through that it's likely it will shoot up in value.
      
      
      HODL Meaning
      HODL is a term you will definitely start to see around if you are new to cryptocurrencies. It's meaning is very simple: hold. Why is it mispelt? It's essentially a meme because some time ago someone wrote hodl instead of hold when talking about coins and it just took off.
      
      When people say hodl/hold what they mean is don't sell your coins, often during times when the market is dipping. It's seen as having a weak hand to panic sell during a dip, or make the famous crypto mistake we've all made, to buy high and sell low!
  </p>
</div>