<p>
  binance works!
</p>

<div class="container">
  <p>
      Crypto Exchanges: Binance Guide
      Chasing Coins Guide on trading coins with Binance.
      Binance Guide
      Learn how to make trades and deposit BTC/ETH on Binance.
      
      First things first, you need to create a Binance account. This is free and just requires you to sign up on their website. Click the Register button at the top right.
      
      If you are unsure how exchanges work please see our Exchanges guide.
      
      Binance Wallets
      Binance Wallets
      The first step is to understand and generate wallet addresses for your Binance account. These addresses function as bank accounts which let you transfer coins to Binance and then begin to trade with them.
      
      Go to the Funds -> Balances menu item at the top right.
      
      This is a listing of the funds you have stored in Binance wallets, which as you start will all be zero. You will notice that all the coins they trade are listed, as you can see in the image we see our REQ, VEN and ICX wallets. On the right of each wallet is a Deposit button, which gives you your wallet address for sending funds.
      
       Binance Deposit BTC
      Depositing Bitcoin
      Most likely you will want to send Bitcoin (or Ethereum) to Binance in order to trade with. Once it arrives at Binance you will be able to sell your Bitcoin to buy other coins, like VEN, ICX, REQ and so on. Click on the Deposit button on the row that says BTC (Bitcoin).
      
      You will see a BTC Deposit Address. This is your personal wallet address on Binance and any Bitcoin you send there will appear in your account. Think of it like a bank account that you can transfer money to.
      
      If you are sending Bitcoin from somewhere like Coinbase or Luno, you will put this as the destination or recipient address when you send your coins to Binance.
      
      Trading for New Coins
      It may take a few hours to clear, but once your transfer arrives at Binance you will see it on your Funds -> Balances page as discussed above. You can then use this currency (Bitcoin or Ethereum) to trade. In our example below we will be buying VEN (VeChain) with BTC (Bitcoin).
      
      Click the "Exchange -> Basic" link at the top left of Binance. This will take you to the live exchange where you will post an offer to buy VEN for an amount of BTC.
      
      Binance Deposit BTC
      Now on the right side of the page you will see a search box where you can look for trading pairs. In our example we are looking for VEN as seen in the image. You'll notice it shows one line, VEN/BTC, which means we can sell BTC to buy VEN.
      
      Click on the VEN/BTC line and you will see the exchange switch to a view of VEN/BTC trades.
      
      Binance Buy VEN
      Placing a Limit Order
      In the screenshot you can see the box to buy VEN. This is where you specify how many BTC you will pay per VEN, and how many you want in total. Generally for a beginner you will want to pay the price in the price box, because that is the current trading price. You could put in a lower price in which case your buy will only execute when the price drops to that rate (if it does).
      
      The Amount box indicates how many you want to buy, which essentially means how much BTC do you want to spend. You can click the 25%, 50%, 75%, 100% buttons to use a certain percentage of your BTC balance easily.
      
      Once you have done that, click Buy VEN to place the order. You will then see lower down the page under Open Orders you have a buy order placed, and once it is filled you will have VEN in your Wallets that we were looking at earlier.
      
      Final Thoughts
      This was a basic guide on how to buy altcoins using Binance. You can now sell your VEN, or buy other coins with your BTC, or just keep your BTC. These are the critical things to remember:
      
      Only send BTC to a BTC wallet address or you will lose your coins!
      You trade BTC or ETH for alt coins.
      Your coins are then stored on Binance, which you can withdraw when needed to your own wallet.
  </p>
</div>
