

<div class="container">
	
	<div>
		<form (ngSubmit)="onSubmit()">
			
			<mat-form-field>
				<!-- <input matInput placeholder="Enter coin..." id="item" required [(ngModel)]="coin" name="coin"> -->
				<mat-select placeholder="Coin" [(ngModel)]="coin" name="coin">
					<mat-option>None</mat-option>
					<mat-option *ngFor="let coin of listCoinID" [value]="coin">{{coin}}</mat-option>
				  </mat-select>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Enter amount..." id="item" required [(ngModel)]="amount" name="amount">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Enter Price..." id="item" required [(ngModel)]="price" name="price">
			</mat-form-field>

			<button mat-raised-button type="submit">Create wallet</button>
		</form>

		<div [hidden]="!chart" style="width: 300px">
			<canvas id="canvas" >{{ chart }}</canvas>
		</div>
	</div>
 
	<h2>Content from Firebase</h2>

	<mat-table #table [dataSource]="dataSource" matSort>

		<!-- Coin Column -->
		<ng-container matColumnDef="Coin">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Coin </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.value.coin}} </mat-cell>
		</ng-container>
	
		<!-- Amount Column -->
		<ng-container matColumnDef="Amount">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.value.amount}} </mat-cell>
		</ng-container>
	
		<!-- Buy Price Column -->
		<ng-container matColumnDef="Buy Price">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Buy Price </mat-header-cell>
			<mat-cell *matCellDef="let element">$ {{element.value.price}} </mat-cell>
		</ng-container>
	
		<!-- Current Price Column -->
		<ng-container matColumnDef="Current Price">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Current Price </mat-header-cell>
			<mat-cell *matCellDef="let element"> $ {{element.coin[0].price_usd}} </mat-cell>
			<!-- .charAt(0) === '-' ? 'red' : '#00e700'  -->
		</ng-container>

		<!-- 24h Change Column -->
		<ng-container matColumnDef="24h Change">
			<mat-header-cell *matHeaderCellDef mat-sort-header> 24h Change </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.coin[0].percent_change_24h}} %</mat-cell>
		</ng-container>
	
		<!-- 7d Change Column -->
		<ng-container matColumnDef="7d Change">
			<mat-header-cell *matHeaderCellDef mat-sort-header> 7d Change </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.coin[0].percent_change_7d}} %</mat-cell>
			<!-- .charAt(0) === '-' ? 'red' : '#00e700'  -->
		</ng-container>
		
		<!-- Buy Price Column -->
		<ng-container matColumnDef="Profit">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
			<mat-cell *matCellDef="let element">$ {{element.coin[0].price_usd - element.value.price}} </mat-cell>
			<!-- .charAt(0) === '-' ? 'red' : '#00e700'  -->
		</ng-container>

		<!-- Buy Price Column -->
		<ng-container matColumnDef="Delete">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
			<mat-cell *matCellDef="let element"><span (click)='deleteItem(element.key)'>-</span> </mat-cell>
			<!-- .charAt(0) === '-' ? 'red' : '#00e700'  -->
		</ng-container>
	
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>