<p>
  wallets works!
</p>
<div class="container">
  <p>
      Crypto Wallets: What Are They?
      Chasing Coins Guide on what a cryptocurrency wallet is, how you use them and what they do.
      Buying Crypto with a Wallet
      In order to own, transfer, send or receive cryptocurrencies you must have a wallet - specifically a wallet address.
      
      A wallet is a secure address to which only you have access to withdraw a cryptocurrency from, but anyone can send cryptocurrency to. In this way it can be thought of as a bank account for a specific coin. All cryptocurrency coins or tokens have their own unique wallets, and you cannot keep Ethereum in a Bitcoin wallet, etc.
      
      “ In short: Wallets are the bank accounts of cryptocurrency. ”
      What does a wallet look like?
      When you first start investing you will be storing your currencies on exchanges most likely. However, you can also have your own private wallet (which is recommended) where you can keep your investments safe.
      
      We have put two examples of wallet addresses below, one for Bitcoin and one for Ethereum, to give you an idea of how they look. If you wanted to send money to Chasing Coins you would transfer a certain amount of Ethereum to that Ethereum wallet address, and we would then receive the payment.
      
      Bitcoin: 37X82ncTFpHXhMshdxVFUqxH61MsXJ42tp
      Ethereum: 0x6c7bd14656B8f7EA42256bdb4e5FBfde08Dc0Ae0
      
      When you register on an exchange you will be able to generate a wallet address for any currency you keep there. This address allows you to send various coins to the exchange and for them to be identified as being yours.
      
      Crypocurrency Wallets
      Primary functions of a wallet
      Your wallet will do three things for you:
      
      Let you send a specific coin, making payments to people or exchanges.
      Let you store your coin, e.g. "own" it.
      Let you receive a specific coin, for being paid or withdrawing coins from exchanges.
      Starting Out Advice
      When you are starting out it can be easy to lose your money by losing your wallet, and it cannot be recovered. As you explore and learn you will move to having your own wallets, maybe even hardware wallets. However, in the beginning we advise keeping your coins where you bought them!
      
      Next steps?
      You've bought BTC/ETH and you understand what a wallet is and how they are used to send, receive and store coins. Now you can learn about Exchanges and how to trade.
  </p>
</div>