
<div id="banner">
  <div class="banner-content">
      <h1 class="first-title">Welcome to the CrytoWallet application</h1>
      <p class="second-title">The best cryptocurrency, coin and token resource on the web.</p>

      <div class="btn btn-group" style="padding-top: 20px;">
          <a class="btn btn--primary type--uppercase" routerLink="/coins">
              <span class="btn__text">
                  Browse Coins
              </span>
          </a>
          <a class="hidden-xs btn btn--primary-1 type--uppercase" routerLink="/wallet">
              <span class="btn__text">
                  Wallet
              </span>
          </a>
          <a class="btn btn--primary-2 type--uppercase" routerLink="/exchange">
              <span class="btn__text">
                  Exchange
              </span>
          </a>
      </div>
  </div>
</div>  
